@font-face{
	font-family: 'SegoeUI-Regular';
	src: url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.eot');
	src: url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.eot?#iefix') format('embedded-opentype'),
		 url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.woff') format('woff'),
		 url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.ttf') format('truetype'),
		 url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.svg#web') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'SegoeUI-Semilight';
	src: url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semilight/latest.eot');
	src: url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semilight/latest.eot?#iefix') format('embedded-opentype'),
		 url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semilight/latest.woff') format('woff'),
		 url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semilight/latest.ttf') format('truetype'),
		 url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semilight/latest.svg#web') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'SegoeUI-Semibold';
	src: url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semibold/latest.eot');
	src: url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semibold/latest.eot?#iefix') format('embedded-opentype'),
		 url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semibold/latest.woff') format('woff'),
		 url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semibold/latest.ttf') format('truetype'),
		 url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semibold/latest.svg#web') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	margin:0;
	min-width:320px;
}
/* header */
#footer img,
#header img {
	display:block;
	max-width:100%;
	margin:0 auto;
}
#registration-form{
	font: 15px/21px 'SegoeUI-Regular', sans-serif;
	color: #58595b;
	padding: 69px 0;
	background: #f6f4f4;
}
#registration-form .container{
	width: 1116px;
	margin: 0 auto;
	padding: 33px 142px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#registration-form .container:after{
	content: '';
	clear: both;
	display: block;
}
#registration-form .container+.container{border-top: 1px solid #d6d4d3;}
#registration-form a{
	text-decoration: none;
	color: inherit;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
#registration-form .headline{
	padding: 0 260px 44px;
	text-align: center;
	color: #666769;
}
#registration-form h1{
	margin: 0 0 31px;
	color: #231f20;
	font-size: 30px;
	font-weight: normal;
	line-height: 38px;
	text-transform: uppercase;
	font-family: inherit;
}
#registration-form p{margin: 0 0 29px;}
#registration-form h2{
	margin: 0 0 34px;
	text-align: center;
	color: #646568;
	font-size: 17px;
	line-height: 24px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: inherit;
}
#registration-form .btn-linkedin,
#registration-form .btn-facebook{
	display:inline-block;
	vertical-align:top;
	position:relative;
	min-width:211px;
	padding:9px 10px 10px 60px;
	font:13px/17px 'SegoeUI-Semilight', sans-serif;
	text-align:left;
	color:#fff;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	text-decoration: none;
	margin-top: 11px;
}
#registration-form .btn-facebook:before,
#registration-form .btn-linkedin:before {
	position:absolute;
	content:'';
}
#registration-form .btn-linkedin{
	background:#0072ac;
	-webkit-box-shadow:-1px 2px #045061;
	box-shadow:-1px 2px #045061;
}
#registration-form .btn-linkedin:hover{background:#376595;}
#registration-form .btn-linkedin:before {
	left:21px;
	top:11px;
	width:14px;
	height:14px;
	background:url(../images/ico-01.png) no-repeat;
}
#registration-form .btn-facebook {
	background:#384f91;
	-webkit-box-shadow:-1px 2px #333b5b;
	box-shadow:-1px 2px #333b5b;
	margin-bottom: 41px;
}
#registration-form .btn-facebook:hover {background:#25366a;}
#registration-form .btn-facebook:before {
	left:19px;
	top:10px;
	width:17px;
	height:18px;
	background:url(../images/ico-02.png) no-repeat;
}
/* photo-upload */
#registration-form .photo-upload {
	overflow:hidden;
	padding:0 0 89px;
	text-align:center;
}
#registration-form .photo-upload .img {margin:0 0 18px;}
#registration-form .photo-upload .img img {
	vertical-align:top;
	max-width: 100%;
}
/* row */
#registration-form .row{margin-bottom: 35px;}
#registration-form .row.space01{margin: 0 -25px 35px;}
#registration-form .row:after{
	content: '';
	clear: both;
	display: block;
}
#registration-form .col{
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#registration-form .col.col-left{width: 415px;}
#registration-form .col.col-right{
	float: right;
	width: 326px;
}
#registration-form .col.col01{
	width: 33.33%;
	padding: 0 25px;
}
#registration-form .marked { color:#e5212e; }
#registration-form label{
	display: block;
	vertical-align: top;
	margin-bottom: 12px;
}
/* form-control */
#registration-form .form-control {
	display:block;
	width:100%;
	height:38px;
	padding: 0 12px 1px;
	font: 13px 'SegoeUI-Semilight', sans-serif;
	color:#58595b;
	background:#fff;
	border:1px solid #ebe9e9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#registration-form .form-control::-moz-placeholder {
	color:#58595b;
	opacity: 1;
}
#registration-form .form-control:-ms-input-placeholder { color:#58595b; }
#registration-form .form-control::-webkit-input-placeholder { color:#58595b; }
/* form-holder */
#registration-form .form-holder {
	position:relative;
	padding-right: 38px;
}
#registration-form .form-holder.form-holder-width01{max-width: 223px;}
#registration-form .form-holder.form-holder-width02{max-width: 84px;}
#registration-form .form-holder.form-holder-width03{max-width: 242px;}
#registration-form .form-holder:before,
#registration-form .form-holder:after {
	position:absolute;
	top:6px;
	right:0;
	width:25px;
	height:25px;
	opacity:0;
	content:"";
	-webkit-border-radius:50%;
	border-radius:50%;
	transition:opacity .3s;
	-webkit-transition:opacity .3s;
}
#registration-form .form-holder.valid:before {
	opacity:1;
	background:#009941 url(../images/ico-03.png) no-repeat 50% 50%;
}
#registration-form .form-holder.valid:after,
#registration-form .form-holder.error:before {opacity:0;}
#registration-form .form-holder.error:after {
	opacity:1;
	background:#d52229 url(../images/ico-04.png) no-repeat 50% 50%;
}
#registration-form label.error {
	font-size:12px;
	line-height:16px;
	color:#c01f20;
	margin: 0;
	display: inline-block;
	vertical-align: top;
	min-width: 100px;
}
#registration-form .add-rows{
	position: relative;
}
#registration-form .add-rows .form-holder{padding-right: 62px;}
#registration-form .add-rows .form-holder+.form-holder{margin-top: 11px;}
/* inputs-row */
#registration-form .inputs-row{margin: 0 -6px;}
#registration-form .inputs-row:after{
	content: '';
	clear: both;
	display: block;
}
/* .inputs-row .item */
#registration-form .inputs-row .item{
	float: left;
	padding: 0 6px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* all colls */
#registration-form .inputs-row .item.width01{width: 62.66%;}
#registration-form .inputs-row .item.width02{width: 37.34%;}
#registration-form .inputs-row .item.width03{width: 16%;}
#registration-form .inputs-row .item.width04{width: 47%;}
#registration-form .inputs-row .item.width05{width: 37%;}
/* left col */
#registration-form .col-right .inputs-row .item.width01{width: 26.01%;}
#registration-form .col-right .inputs-row .item.width01 .form-control{
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}
#registration-form .col-right .inputs-row .item.width02{width: 58%;}
#registration-form .col-right .inputs-row .item.width03{width: 54%;}
#registration-form .col-right .inputs-row .item.width04{width: 46%;}
/* btn-add */
#registration-form .btn-add {
	position:absolute;
	right:30px;
	top:5px;
	width:15px;
	height:15px;
	text-indent:-9999px;
	overflow:hidden;
	border: 5px solid transparent;
	z-index: 10;
}
#registration-form .btn-add:before {
	position:absolute;
	left:50%;
	top:0;
	bottom:0;
	width:3px;
	margin-left:-2px;
	background:#575756;
	content:"";
	-webkit-border-radius:2px;
	border-radius:2px;
}
#registration-form .btn-add:after {
	position:absolute;
	top:50%;
	left:0;
	right:0;
	height:3px;
	margin-top:-2px;
	background:#575756;
	content:"";
	-webkit-border-radius:2px;
	border-radius:2px;
}
#registration-form .checkbox-holder{
	padding-top: 30px;
}
#registration-form .checkbox-holder label a {
	color:#35a68b;
	text-decoration:underline;
}
#registration-form .checkbox-holder label a:hover { text-decoration:none; }
#registration-form .interests{
	list-style: none;
	padding: 24px 0;
	margin: 0 -20px;
	font-size: 0;
	line-height: 0;
}
#registration-form .interests li{
	display: inline-block;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 22px 20px 22px 53px;
	width: 50%;
	font-size: 14px;
	line-height: 16px;
	color: #194e6f;
}
#registration-form .interests .chk-area{
	width: 20px;
	height: 20px;
	background: #194e6f;
	border-radius: 0;
	border: none;
	margin: 0 13px 0 -33px;
}
#registration-form .interests .chk-area span{
	background: url(../images/ico-check.png) no-repeat;
	width: 10px;
	height: 8px;
	border-radius: 0;
	margin: 7px 0 0 6px;
}
#registration-form .interests label{
	margin: 0 0 26px;
	overflow: hidden;
	text-transform: uppercase;
	color: inherit;
	font-family: 'SegoeUI-Semibold', sans-serif;
	line-height: 20px;
}
#registration-form .interests p{margin: 0 0 14px;}
#registration-form .btn-submit{
	border: none;
	background: #45b64e;
	color: #fff;
	font-size: 17px;
	border-radius: 2px;
	width: 245px;
	margin: 59px auto 0;
	display: block;
	height: 55px;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
#registration-form .btn-submit:hover{
	text-decoration: none;
	background-color: #2c9d35;
}
@media screen and (max-width: 1116px) {
	#registration-form .container{
		width: auto;
		padding-left: 80px;
		padding-right: 80px;
	}
}
@media screen and (max-width: 991px) {
	#registration-form .container{
		padding-left: 40px;
		padding-right: 40px;
	}
	#registration-form .col.col-left{
		width: 383px;
	}
	#registration-form .col.col-right{
		width: 294px;
	}
}
@media screen and (max-width: 767px), screen and (orientation: landscape) and (max-width: 767px), screen and (orientation: portrait ) and (max-width: 767px) {
	body{-webkit-text-size-adjust: none;}
	#registration-form{
		padding: 39px 0;
	}
	#registration-form .headline{
		padding: 0 15px 15px;
	}
	#registration-form .container{
		padding: 25px 15px 15px;
	}
	#registration-form h1{margin-bottom: 16px;}
	#registration-form p{margin-bottom: 19px;}
	#registration-form h2{
		margin-bottom: 14px;
	}
	#registration-form .photo-upload{padding-bottom: 29px;}
	#registration-form .row{margin-bottom: 20px;}
	#registration-form .row.space01{
		margin: 0 0 20px;
	}
	#registration-form .col.col01{
		width: 100%;
		padding: 0 0 0 38px;
	}
	#registration-form .col.col01+.col01{padding-top: 10px;}
	#registration-form .col.col-right,
	#registration-form .col.col-left{
		float: none;
		width: 100%;
		padding: 0 0 20px 38px;
	}
	#registration-form .inputs-row{margin: 0;}
	#registration-form .inputs-row .item{
		float: none;
		width: 100% !important;
		padding: 0;
	}
	#registration-form .inputs-row .item+.item{padding-top: 5px;}
	#registration-form .col-right .inputs-row .item.width01{
		width: 26% !important;
		float: left;
	}
	#registration-form .col-right .inputs-row .item.width02{
		width: 72% !important;
		float: right;
		padding-top: 0;
	}
	#registration-form .form-holder.form-holder-width03,
	#registration-form .form-holder.form-holder-width01{
		max-width: 100%;
	}
	#registration-form .interests{
		margin: 0 -15px;
		padding: 18px 0;
	}
	#registration-form .interests li{padding: 18px 15px 18px 48px;}
	#registration-form .interests label{margin-bottom: 16px;}
	#registration-form .interests p{margin-bottom: 8px;}
}
@media screen and (max-width: 479px){
	#registration-form .interests{text-align: center;}
	#registration-form .interests li{
		width: 100%;
		max-width: 350px;
		text-align: left;
	}
	#registration-form .btn-submit{margin-top: 20px;}
}