.chk-area {
    border-radius:0;
}


#registration-form .form-control::-moz-placeholder {
	color:#999 !important;
 	opacity: 1;
}
#registration-form .form-control:-ms-input-placeholder { color:#999 !important; }
#registration-form .form-control::-webkit-input-placeholder { color:#999 !important; }

#registration-form .home_address{display: none;}

#registration-form .btn-remove:before {
	position:absolute;
	left:50%;
	top:0;
	bottom:0;
	width:3px;
	margin-left:-2px;
	background:transparent;
	content:"";
	-webkit-border-radius:2px;
	border-radius:2px;
}
#registration-form .btn-remove::after {
	position: absolute;
	top: 50%;
	left: 0px;
	right: 0px;
	height: 3px;
	margin-top: -2px;
	background: #575756 none repeat scroll 0% 0%;
	content: "";
	border-radius: 2px;

}
#registration-form .btn-remove{
	position: absolute;
	right: 30px;
	top: 5px;
	width: 15px;
	height: 15px;
	text-indent: -9999px;
	overflow: hidden;
	border: 5px solid transparent;
	z-index: 10;
	cursor: pointer;
}

#registration-form .remove-row .form-holder {
	padding-right: 0px;
}
