/* custom forms styles */
.customForm-hidden {
	display: block !important;
	position: absolute !important;
	left:-9999px !important;
}
/* custom checkbox styles */
.chk-area {
	margin: 4px 6px 0 0;
	float: left;
	overflow: hidden;
	height: 15px;
	width: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #58595b;
	border-radius: 50%;
}
.chk-area span {
	display: block;
	position:relative;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: #00ad9d;
	margin: 2px 0 0 2px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	opacity: 0;
}
.chk-checked span{opacity:1;}
.chk-disabled span{opacity:.5;}
/* radio button styles */
.rad-area {
	margin: 0 3px 0 0;
	float: left;
	overflow: hidden;
	height: 18px;
	width: 17px;
}
.rad-area span {
	display: block;
	width: 51px;
	height: 36px;
}
.rad-focus span {
	margin-left: -34px;
}
.rad-checked span {
	margin-top: -18px;
}
.rad-disabled span {
	margin-left: -17px;
}
/* custom select styles */
.select-area {
	width:auto !important;
	position: relative;
	overflow: hidden;
	height: 38px;
	font: 13px/19px 'SegoeUI-Semilight', sans-serif;
	color: #58595b;
}
.select-area .select-opener {
	position: absolute;
	z-index: 3;
	top: 0;
	right: 0;
	bottom:0;
	width: 30px;
}
.select-area .select-opener:before {
	position:absolute;
	left:50%;
	top:50%;
	margin:-3px 0 0 -4px;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-top:6px solid #a7a7a8;
	content:"";
}
.select-area .left {display:none;}
.select-area .center {
	white-space: nowrap;
	position: relative;
	cursor: default;
	display: block;
	overflow:hidden;
	text-overflow:ellipsis;
	padding:8px 40px 9px 12px;
	z-index: 2;
	color:#58595b;
	background:#fff;
	border:1px solid #ebe9e9;
}
.select-area .center img {
	margin: 5px 5px 0 0;
	position: relative;
	float: left;
}
.options-overflow div.drop-list {
	overflow: auto;
}
.options-hidden {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}
.select-options {
	z-index: 3000;
	position: absolute;
}
.select-options .drop-holder {
	border: 1px solid #ebe9e9;
	background:#fff;
	height: 1%;
	margin:2px 0 0;
}
.select-options-flipped .drop-holder {
	margin:0 0 2px;
}
.select-options div.drop-list {
	width: 100%;
    max-height: 300px;
    overflow-y: scroll;
}
.select-options ul {
	overflow: hidden;
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
	font:13px/19px 'SegoeUI-Semilight', sans-serif;
}
.drop-select-required ul li:first-child{display: none !important;}
.select-options ul li {
	overflow: hidden;
	float: left;
	width: 100%;
}
.select-options ul a {
	text-decoration: none;
	cursor: default;
	color: #58595b;
	display: block;
	overflow: hidden;
	height: 1%;
	padding: 8px 12px 9px;
}
.select-options ul a span {
	cursor: default;
	float: left;
}
.select-options .item-selected a {
	text-decoration: none;
	background: #666;
	color: #fff;
}
.select-options ul a:hover {
	text-decoration: none;
}
.select-options ul a:focus {
	outline: none;
}
.select-options .optgroup strong{
	cursor: default;
	display: block;
	width: 100%;
}
.select-options .optgroup strong em {
	display: block;
	padding: 5px;
	height: 1%;
}
.select-options .optgroup ul a {
	padding-left: 20px;
}
.select-options img {
	margin: 2px 3px 0 0;
	float: left;
	border: 0;
}
.select-disabled {background-position: 0 -124px;color: #bbb;}
.select-disabled .left {background-position: 0 -93px;}
.select-disabled .select-opener {background-position: 100% -155px;}

.select-focus {background-position: 0 -217px;}
.select-focus .left {background-position: 0 -186px;}
.select-focus .select-opener {background-position: 100% -248px;}

/* multiple select styles */
.select-multiple-wrapper {
	background: #dfdfdf;
}
.select-multiple-wrapper .wtop, .select-multiple-wrapper .wbot {
	background: url(../images/bg-multiple.gif) no-repeat;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	height: 5px;
}
.select-multiple-wrapper .wtop .tr, .select-multiple-wrapper .wbot .br {
	background: url(../images/bg-multiple.gif) no-repeat 100% 0;
	width: 50%;
	float: right;
	height: 5px;
}
.select-multiple-wrapper .cwrap, .select-multiple-wrapper .chold {
	background: url(../images/bg-multiple.gif) no-repeat 0 50%;
	padding: 0 0 0 5px;
}
.select-multiple-wrapper .chold {
	background-position: 100% 50%;
	padding: 0 5px 0 0;
}
.select-multiple-wrapper .wbot {
	background-position: 0 100%;
}
.select-multiple-wrapper .wbot .br {
	background-position: 100% 100%;
}
.select-multiple-focus .wtop,
.select-multiple-focus .wbot,
.select-multiple-focus .wtop .tr,
.select-multiple-focus .wbot .br,
.select-multiple-focus .cwrap,
.select-multiple-focus .chold {
	background-image: url(../images/bg-multiple-focus.gif) !important;
}
.select-multiple-wrapper ul {
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.select-multiple-wrapper ul li {
	padding: 0 0 1px;
	float: left;
	width: 100%;
}
.select-multiple-wrapper ul a {
	text-decoration: none;
	overflow: hidden;
	display: block;
	margin: 0 4px 0 0;
	padding: 0 0 0 5px;
	line-height: 19px;
	color: #000;
	height: 20px;
}
div.noscroll-vertical ul a {
	margin: 0;
}
.select-multiple-wrapper ul a span {
	display: block;
	height: 20px;
	padding: 0 5px 0 0;
}
.select-multiple-wrapper .item-selected a {
	background: #8e9294 url(../images/bg-select-item.gif) no-repeat;
	color: #fff;
}
.select-multiple-wrapper .item-selected a span {
	background: url(../images/bg-select-item.gif) no-repeat 100% 0;
}
.select-multiple-wrapper ul a:hover {
	text-decoration: none;
}
.select-multiple-wrapper a, .select-multiple-wrapper span {
	cursor: default;
}
/* custom input type file */
.file-area {
	position: relative;
	overflow: hidden;
	display:inline-block;
	vertical-align:top;
	height: 37px;
}
.file-area .customForm-wrap {
	position: relative;
	overflow: hidden;
	height: 37px;
	width: 0;
	margin: 0 0 -37px;
	z-index: 100;
	font-size: 0;
	line-height: 0;
}
.file-area .customForm-input-wrapper {
	position: relative;
	overflow: hidden;
	height: 37px;
	float: left;
}
.file-area .customForm-fake-input {
	white-space: nowrap;
	display: inline-block;
	vertical-align: top;
}
.file-area .customForm-fake-input span {
	cursor: default;
	overflow: hidden;
	float: left;
}
.file-area .customForm-fake-input em {
	float: left;
	font-style: normal;
	padding: 8px 16px 9px;
	overflow: hidden;
	font-size:13px;
	line-height:16px;
	text-transform:uppercase;
	color:#00a9d4;
	border:2px solid #00a9d4;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.file-area .customForm-upload-button {
	display:none;
	background: url(../images/bg-upload.gif) no-repeat 0 -93px;
	padding: 0 0 0 10px;
	margin: 0 0 0 5px;
	color: #fff;
	float: left;
}
.file-area .customForm-upload-button span {
	background: url(../images/bg-upload.gif) no-repeat 100% -93px;
	padding: 0 10px 0 0;
	cursor: default;
	float: left;
	height: 31px;
}
.file-input-opacity {
	z-index: 100;
	position: absolute;
	height: 31px;
	line-height: 31px;
}
.file-disabled {color: #bbb;}
.file-disabled .customForm-fake-input {background-position: 0 -124px;}
.file-disabled .customForm-fake-input span{background-position: 100% -186px;}
.file-disabled .customForm-upload-button {background-position: 0 -217px;}
.file-disabled .customForm-upload-button span{background-position: 100% -217px;}

.file-focus .customForm-fake-input {background-position: 0 -248px;}
.file-focus .customForm-fake-input span{background-position: 100% -310px;}
.file-focus .customForm-upload-button {background-position: 0 -341px;}
.file-focus .customForm-upload-button span{background-position: 100% -341px;}

/* file extension styles */
.no-file .customForm-fake-input em{
	background: none;
}
.extension-jpg .customForm-fake-input em,
.extension-bmp .customForm-fake-input em,
.extension-gif .customForm-fake-input em,
.extension-png .customForm-fake-input em{
	background-image: url(../images/ext-image.gif);
}
.extension-odt .customForm-fake-input em,
.extension-doc .customForm-fake-input em,
.extension-docx .customForm-fake-input em{
	background-image: url(../images/ext-doc.gif);
}
.extension-ods .customForm-fake-input em,
.extension-xls .customForm-fake-input em,
.extension-xlsx .customForm-fake-input em{
	background-image: url(../images/ext-xls.gif);
}
.extension-swf .customForm-fake-input em,
.extension-fla .customForm-fake-input em{
	background-image: url(../images/ext-flash.gif);
}
.extension-db .customForm-fake-input em,
.extension-sql .customForm-fake-input em{
	background-image: url(../images/ext-db.gif);
}
.extension-htm .customForm-fake-input em,
.extension-html .customForm-fake-input em{
	background-image: url(../images/ext-html.gif);
}
.extension-txt .customForm-fake-input em,
.extension-rtf .customForm-fake-input em{
	background-image: url(../images/ext-txt.gif);
}
.extension-zip .customForm-fake-input em,
.extension-rar .customForm-fake-input em{
	background-image: url(../images/ext-zip.gif);
}
.extension-pdf .customForm-fake-input em{
	background-image: url(../images/ext-pdf.gif);
}
/* custom scroll styles */
.scrollable-focus1,
.scrollable-focus1 .scrollable-area{
	background: #ffd !important;
}
.scrollable-focus1 .scrollable-area .scrollable-area {
	background: #fff !important;
}
.scrollable-area-wrapper {
	position: relative;
	overflow: hidden;
}
.scrollable-area-wrapper .vscrollbar {
	background: url(../images/bg-vscrollable.gif) no-repeat 0 -20px;
	position: absolute;
	cursor: default;
	height: 100%;
	width: 20px;
	top: 0;
	right: 0;
	z-index: 100;
}
.scrollable-area-wrapper .scrollable-fake {
	overflow: hidden;
	position: relative;
}
.scrollable-area-wrapper .vscroll-up,
.scrollable-area-wrapper .vscroll-down {
	background: url(../images/bg-vscrollable.gif) no-repeat;
	overflow: hidden;
	width: 20px;
	height: 20px;
	right: 0;
	top: 0;
}
.scrollable-area-wrapper .vscroll-line {
	position: relative;
	width: 100%;
}
.scrollable-area-wrapper .vscroll-down {
	background-position: -20px 0;
	top: auto;
	bottom: 0;
}
.scrollable-area-wrapper .vscroll-slider {
	background: url(../images/bg-vscrollable.gif) no-repeat -20px 50%;
	position: absolute;
	overflow: hidden;
	width: 20px;
}
.scrollable-area-wrapper .scroll-bar-top,
.scrollable-area-wrapper .scroll-bar-bottom {
	background: url(../images/bg-vscrollable.gif) no-repeat -20px -20px;
	position: absolute;
	top: 0;
	width: 20px;
	height: 20px;
}
.scrollable-area-wrapper .scroll-bar-bottom {
	background-position: -20px 100%;
	top: auto;
	bottom: 0;
}
/* horizontal scroll styles */
.scrollable-area-wrapper .hscrollbar {
	background: url(../images/bg-hscrollable.gif) no-repeat -20px 0;
	position: absolute;
	cursor: default;
	width: 100%;
	height: 20px;
	bottom: 0;
	left: 0;
	z-index: 100;
}
.scrollable-area-wrapper .hscroll-line {
	position: relative;
	height: 20px;
	float: left;
}
.scrollable-area-wrapper .hscroll-left,
.scrollable-area-wrapper .hscroll-right {
	background: url(../images/bg-hscrollable.gif) no-repeat;
	float: left;
	overflow: hidden;
	width: 20px;
	height: 20px;
	left: 0;
	top: 0;
}
.scrollable-area-wrapper .hscroll-right {
	background-position: 0 -20px;
	left: auto;
	right: 0;
}
.scrollable-area-wrapper .hscroll-slider {
	background: url(../images/bg-hscrollable.gif) no-repeat 50% -20px;
	position: absolute;
	overflow: hidden;
	height: 20px;
}
.scrollable-area-wrapper .scroll-bar-left,
.scrollable-area-wrapper .scroll-bar-right {
	background: url(../images/bg-hscrollable.gif) no-repeat -20px -20px;
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
}
.scrollable-area-wrapper .scroll-bar-right {
	background-position: 100% -20px;
	left: auto;
	right: 0;
}
/* scrollable textarea styles */
.textarea-wrapper {
	overflow: hidden;
	float: left;
}
.textarea-wrapper textarea,
.textarea-wrapper textarea:focus {
	border: 0;
	margin: 0;
	padding: 0 8px;
	outline: none;
	background: none;
	vertical-align: top;
}
.textarea-wrapper .ctop,
.textarea-wrapper .cbot,
.textarea-wrapper .cright, 
.textarea-wrapper .cmid, 
.textarea-wrapper .chold {
	background: url(../images/bg-textarea.gif) no-repeat;
}
.textarea-wrapper-focus .ctop,
.textarea-wrapper-focus .cbot,
.textarea-wrapper-focus .cright, 
.textarea-wrapper-focus .cmid, 
.textarea-wrapper-focus .chold {
	background-image: url(../images/bg-textarea-focus.gif) !important;
}
.textarea-wrapper .ctop,
.textarea-wrapper .cbot {
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	height: 5px;
}
.textarea-wrapper .ctop .cright,
.textarea-wrapper .cbot .cright {
	background-position: 100% 0;
	width: 50%;
	height: 5px;
	float: right;
}
.textarea-wrapper .cbot .cright {
	background-position: 100% 100%;
}
.textarea-wrapper .cbot {
	background-position: 0 100%;
}
.textarea-wrapper .cmid {
	background-position: 0 50%;
	padding: 0 0 0 5px;
}
.textarea-wrapper .chold {
	background-position: 100% 50%;
	padding: 0 5px 0 0;
}
